name: Playwright Tests
on:
  push:
    branches: [ main, master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5

    - name: Setup Node.js
      uses: actions/setup-node@v5
      with:
        node-version: lts/*

    - name: Install dependencies
      run: npm ci

    - name: Install Playwright Browsers
      run: npx playwright install --with-deps

    # - name: Clear older reports
    #   run: npm run allure-clean
    
    - name: Run Playwright tests
      id: tests
      run: npx playwright test practiceform.spec.ts --project='chromium'
      continue-on-error: true

    - name: Generate Allure report
      if: always()
      run: npm run allure-CI
    
    - name: Generate Playwright report 
      uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30

    - name: Publish Allure report to GitHub Pages
      if: ${{ !cancelled() }}
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: allure-report
        publish_dir: allure-report
        keep_files: false

    - name: Fail job if tests failed
      if: steps.tests.outcome == 'failure'
      run: exit 1